.CourseWeather {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CourseWeather-top-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 1fr;
      grid-template-columns: 2fr 5fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.CourseWeather-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  margin: -50px 0 0 10px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.CourseWeather-header > img {
  width: 100px;
  height: auto;
  vertical-align: bottom;
  margin-left: 10px;
  -webkit-filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(3px 3px rgba(0, 0, 0, 0.3));
}

.CourseWeather-header-title {
  margin-right: 20px;
}

.CourseWeather-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -70px;
  margin-right: 170px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CourseWeather-search-bar {
  position: relative;
  width: 80%;
  padding: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  cursor: text;
}

.CourseWeather-search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.CourseWeather-search-btn {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: red;
  margin-left: 10px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 90px;
  height: 40px;
  margin-top: 23px;
}

.CourseWeather-search-btn:hover {
  opacity: 1;
}

.CourseWeather-legend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -150px;
}

.CourseWeather-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin-top: -2px;
  margin-left: 22px;
  -webkit-animation: rotation 0.5s infinite linear;
          animation: rotation 0.5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/*# sourceMappingURL=CourseWeather.css.map */