@use '../abstracts/Variables' as *;

.CourseWeather {
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.CourseWeather-top-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.CourseWeather-header {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 40px;
    text-shadow: $textShadow;
}

.CourseWeather-header>img {
    vertical-align: bottom;
    height: auto;
    width: 5rem;
    margin-left: 10px;
    filter: $dropShadow;
}

.CourseWeather-header-title {
    margin-right: 20px;
}

.CourseWeather-form {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.CourseWeather-search-bar {
    position: relative;
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: $inputColor;
    box-shadow: $boxShadow;
    transition: $ease;
    cursor: text;

    &:focus {
        background-color: $inputFocus;
    }
}

.CourseWeather-search-btn {
    height: 40px;
    width: 90px;
    margin-top: 23px;
    margin-left: 10px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    box-shadow: $boxShadow;
    color: white;
    background-color: $redColor;
    opacity: 0.85;
    font-size: 14px;
    font-weight: $boldFont;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.CourseWeather-legend-card {
    flex: 1;
    display: flex;
    margin-top: 10px;
}

.CourseWeather-loader {
    display: flex;
    width: 30px;
    margin-top: -2px;
    margin-left: 22px;
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (max-width: 849px) {
    .CourseWeather-top-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .CourseWeather-header {
        font-size: 6rem;
    }

    .CourseWeather-header>img {
        width: 5rem;
        margin-right: 0.5rem;
    }

    .CourseWeather-header-title {
        margin: 0;
    }

    .CourseWeather-form {
        margin-top: 0;
        margin-bottom: 2%;
    }

    .CourseWeather-search-bar {
        height: 2.5rem;
    }

    .CourseWeather-legend-card {
        margin: 2rem 0;
    }
}

@media (max-width: 499px) {
    .CourseWeather-top-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .CourseWeather-form {
        flex-direction: column;
    }

    .CourseWeather-search-bar {
        width: 60vw;
    }

    .CourseWeather-search-btn {
        margin-left: 0;
    }
}

@media (max-width: 350px) {
    .CourseWeather-header {
        font-size: 4rem;
    }
}