@use '../abstracts/Variables' as *;

.WeatherCard {
    justify-content: center;
    align-items: center;
    min-width: 100px;
    margin: 15px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: $boxShadow;
    background: white;
    color: black;
    font-size: 13px;
}

.WeatherCard-day {
    font-weight: $boldFont;
}

.WeatherCard-icon {
    margin-top: -5px;
}

.WeatherCard-temp {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    padding: 10px;
}

.WeatherCard-raindrop {
    display: block;
    justify-content: center;
    margin-top: -8px;
    font-size: 12px;
}

.WeatherCard-raindrop>.icon {
    width: 15px;
}

.WeatherCard-raindrop>.pop {
    vertical-align: top;
}

.WeatherCard-frost {
    display: block;
    justify-content: center;
    margin-top: -5px;
    font-size: 12px;
}

@media (max-width: 1000px) {
    .WeatherCard {
        margin: 2%;
    }
}

@media (max-width: 350px) {
    .WeatherCard {
        margin: 1rem 0;
    }
}